In [1]:
import pandas as pd
import numpy as np

In [7]:
pd.to_datetime('Jan 15, 1997').day_name()

'Wednesday'

In [8]:
pd.to_datetime('Feb 29, 1925')

ValueError: day is out of range for month

In [10]:
pd.to_datetime(1000000, unit='h')

Timestamp('2084-01-29 16:00:00')

In [11]:
pd.to_datetime('July 20, 1969 2:56:15')

Timestamp('1969-07-20 02:56:15')

In [13]:
pd.to_datetime('today') - pd.to_datetime('July 20, 1969, 2:56:15')

Timedelta('18865 days 14:04:43.921299')

In [14]:
35 * 24

840

In [17]:
emp = pd.read_csv('./data/employee.csv', parse_dates=['hire_date'])
emp.head()

,dept,title,hire_date,salary,sex,race
0,Police,POLICE SERGEANT,2001-12-03,87545.38,Male,White
1,Other,ASSISTANT CITY ATTORNEY II,2010-11-15,82182.00,Male,Hispanic
2,Houston Public Works,SENIOR SLUDGE PROCESSOR,2006-01-09,49275.00,Male,Black
3,Police,SENIOR POLICE OFFICER,1997-05-27,75942.10,Male,Hispanic
4,Police,SENIOR POLICE OFFICER,2006-01-23,69355.26,Male,White

In [19]:
emp.insert(1, 'experience', (pd.to_datetime('today') - emp['hire_date']))

In [22]:
emp['experience'] = emp['experience'].days/365

AttributeError: 'Series' object has no attribute 'days'